{
	"singleQuote": true,
	"useTabs": true,
	"tabWidth": 4,
	"semi": true,
	"trailingComma": "all",
	"printWidth": 100,
	"arrowParens": "avoid",
	"overrides": [
		{
			"files": ["*.yaml", "*.yml"],
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
